.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-content {
    height: 350px;
    /* background-color: rgba(200, 100, 100, 0.5); */
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .hero-content h1 {
    color: white;
  }

  .hero-content .page-name {
    text-transform: capitalize;
  }
}

.home-hero-image {
  height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero-image {
  height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero/about-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-hero-image {
  height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero/products-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-hero-image {
  height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero/contact-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
